@import 'tailwindcss';

@theme {
  --font-sans: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Plate';
  src: url('./assets/fonts/plate.ttf');
}

.plate {
  font-family: 'Plate', sans-serif;
}

.Toastify__toast {
  @apply w-96 text-black;
}

.Toastify__toast-icon {
  @apply relative h-6 w-fit;
}

.indicator {
  @apply h-full w-1.5 rounded;
}
